

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
}

.Foto{
    width: 100px;
    height: 100px;
}

.info{
    border: red solid 1px;
}

.naamgame {
    float: right;
}

#formplanner{
    text-align: center;
    border: 1px solid black;
}

#plancontainer{
    border: 1px solid black;
    width: 100%;
    margin-bottom: 3px;
    padding-left: 100px;
    background: white;
}

i{
    margin: 5px;
}

#plancontainer:nth-child(odd){
    background-color: lightgray;
}

span{
    color: red;
}